
/*
 * global page layout
 */
#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 0.9em;
}

#header h1
{
	margin: 0;
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
	color: #fff;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	background: #333;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover
{
	background: #383;
}

#navigation .user
{
	float: right;	
}
#navigation .user li a {
	border-right: none;
	border-left: 1px solid #fff;
}
#content-container
{
	width: 100%;
	background: #fff url('layoutbg.gif') repeat-y 68% 0;
}

#error
{
	clear: left;
	color: #a00;
	text-align: left;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}
#info
{
	clear: left;
	color: #0a0;
	text-align: left;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

#content
{
	clear: left;
	width: 60%;
	padding: 3ex 0 3ex 3ex;
	margin: 0;
}

#content h2
{
	margin-bottom: 0.3ex;
}

#content h2:first-child, #content p:first-child
{
	margin-top: 0;
}

#aside
{
	width: 26%;
	padding: 20px 0;
	margin: 0 2% 0 0;
	display: inline;
}

#aside h3
{
	margin: 0;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}


/*
 * random general stuff
 */
a img {
	border: none;
}
a[href] {
	color: #333;
}
a[href]:active {
	color: #383;
}
form {
	padding: 0;
	margin: 0;
}
td.spacer, th.spacer {
	padding-left: 1em;
}
.nonimp {
	color: #777;
}

/*
 * Forms
 */
.cmxform fieldset {
  margin-bottom: 10px;
}
.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
}
.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
.cmxform fieldset ol, ol.cmxform {
  margin: 0;
  padding: 0;
}
.cmxform fieldset li, ol.cmxform li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
.cmxform label {
  width: 120px; /* Width of labels */
}
.cmxform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

/*
 * Tables
 */
table.list
{
	border: 2px solid #ccc;
	border-collapse: collapse;
	width: 100%;
}
table.list tr
{
	background: #fff;
}
table.list tr.even
{
	background: #eee;
}
table.list.interactive tr:hover, table.list th
{
	background: #ddd;
}
table.list td, table.list th
{
	padding-left: 0.4em;
	padding-right: 0.2em;
}
table.list td {
	border: 1px solid #eee;
	border-collapse: collapse;
}


table.desc td, table.desc th {
	text-align: left;
}
table.desc th {
	padding-right: 0.5em;
}


/*
 * Job list & details
 */
table.joblist .name { width: 10em; text-align: left; }
table.joblist .id   { width:  2em; text-align: right; }
table.joblist .app  { min-width: 5em; }

/* make table cells clicklable, not just links */
table.joblist td.id, table.joblist td.name, table.joblist td.app {
  display: table-cell;
  padding-left: 0;
  padding-right: 0;
}
table.joblist td.id a, table.joblist td.name a, table.joblist td.app a {
  display: block;
  padding-left: 0.4em;
  padding-right: 0.2em;
}
table.joblist .owners a { text-decoration: none; color: #333; }

